<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddup.cloud.db.mapper.YwdMapper">
    <select id="queryYwdByParam" resultType="com.ddup.user.entity.Ywd">
        <!--  <bind name="pattern" value="'%' + ywdName + '%'"/>-->
        select * from hoyi_ywd_ext where ywd_name like concat('%',#{ywdName},'%')
    </select>

    <insert id="saveYwd" parameterType="com.ddup.user.entity.Ywd" useGeneratedKeys="true" keyProperty="id">
        insert into hoyi_ywd_ext(version,code,bank_code,ywd_name,user_code,ywd_user_type,invite_ywd_code,
        ywd_level,dev_path,emp_code,emp_no,dept_code,telephone,ywd_status,cmty_code,remark,del_flag) values (#{version},#{code},#{bankCode},#{ywdName},#{userCode},
        #{ywdUserType},#{inviteYwdCode},#{ywdLevel}, #{devPath},#{empCode},#{empNo},#{deptCode},
        #{telephone},#{ywdStatus},#{cmtyCode},#{remark},#{delFlag})
    </insert>
</mapper>
